<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Include the latest bootstrap CSS and JS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" media="screen" th:href="@{/assets/css/default.css}"/>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div id="admin" style="padding-top:5px">
    	<h3>Active Proxies</h3>
		<table class="table table-striped table-condensed">
    		<tr>
    			<th>ID</th>
    			<th>User</th>
    			<th>AppID</th>
				<th>Programs</th>
    			<th>Endpoint</th>
    			<th>Uptime</th>
    			<th>LastActive</th>
    			<th>Action</th>
    		</tr>
    		<tr th:each="proxy: ${proxies}">
    			<td th:text="${proxy.id}"></td>
    			<td th:text="${proxy.userId}"></td>
				<td th:text="${proxy.spec.id}"></td>
				<td>
					<div th:each="subapp : ${proxy.spec.subApps}">
						<a th:if="${subapp.subDomain == '' || !enableSubDomainMode}" th:href="@{'/app/'+${proxy.spec.id}+'/'+${subapp.path}(md=${proxy.spec.defaultTutorialLink})}" th:text="${subapp.displayName}" class="subapp_link"></a>
						<a th:if="${subapp.subDomain != '' && enableSubDomainMode}" th:href="@{'/redirect/'+${subapp.subDomain}(md=${proxy.spec.defaultTutorialLink})}" th:text="${subapp.displayName}" class="subapp_link"></a>
					</div>
				</td>
    			<td th:text="${proxy.targets}"></td>
    			<td th:text="${proxyUptimes[proxy.id]}"></td>
				<td class="last_active" th:text="${lastActive[proxy.id]}"></td>
				<td><button class="btn btn-danger btn-sm" th:onclick="kill([[${proxy.id}]], [[${proxy.spec.id}]]);">Terminate</button></td>
    		</tr>
    	</table>
    </div>
    <script lang="JavaScript">
		function kill(proxy_id, app_name){
			if (confirm("Are you sure to terminate " + app_name + "?")){
				$.ajax({
					url: base_url + 'api/proxy/' + proxy_id,
					type: 'DELETE',
					dataType: 'text',
					error: function (response){
						console.log(response.responseText);
						location.reload();
					},
					success: function (response){
						location.reload();
					}
				});
			}
		}
		var last_actives = document.getElementsByClassName("last_active");
		for (let i = 0; i < last_actives.length; i++) {
			if (!(last_actives[i].innerHTML === '')){
				last_actives[i].innerHTML = new Date(parseFloat(last_actives[i].innerHTML)).toLocaleString('en-GB');
			}
		}
		$(".subapp_link").each(function (index) {
			let selector = $(".subapp_link")[index];
			let url = new URL(selector.href);
			url.searchParams.set("md", btoa(url.searchParams.get("md")));
			selector.href = url.href;
		});
	</script>
</body>
</html>
