<!DOCTYPE html>
<html
	lang="id"
	dir="ltr"
	xmlns:th="http://www.thymeleaf.org"
>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Title -->
	<title>Sorry, This Page Can&#39;t Be Accessed</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/assets/css/error.css}"/>
</head>

<body class="bg-dark text-white py-5">
<div class="container py-5">
	<div class="row">
		<div class="col-md-2 text-center">
			<p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 401</p>
		</div>
		<div class="col-md-10">
			<h3>OPPSSS!!!! Sorry...</h3>
			<p>An error occurred during the authentication procedure.
				<br/>
				<b>If you are a user of <span th:text="${application_name}"></span>:</b>
				please report this issue to your administrator and try to log out from your Identity Provider.
				<b>If you are an administrator of <span th:text="${application_name}"></span>:</b>
				this error page is typically shown because of an configuration error in the authentication setup. See the ShinyProxy logs for more information.
			</p>
			<a class="btn btn-primary" th:href="@{/logout}">Logout</a>
		</div>
	</div>
</div>
</body>

</html>