<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title th:text="${appTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" th:href="@{/assets/css/default.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div id="loading_anime">
    <div class="loader">
        <svg viewBox="0 0 32 32" width="100" height="100">
            <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
        </svg>
    </div>
    <div class="loading-text">
        Loading <span th:text="${appTitle}"></span> ...
    </div>
</div>
<iframe id="shinyframe" style="padding-top:0" th:src="${container}" width="0%"></iframe>

<script type="text/javascript" th:inline="javascript">
    function setShinyframeHeight() {
        $('#shinyframe').css('height', ($(window).height() - $("#navbar").height() - 8)+'px');
        $('#shinyframe').css('width', '100%');
    }
    window.addEventListener("load", setShinyframeHeight);
    window.addEventListener("resize",  setShinyframeHeight);

    $(window).on('load', function() {
        var source = $("#shinyframe").attr("src");
        if (source == "") {
            $("#loading_anime").show();
            $.post(window.location.pathname + window.location.search, function(response) {
                if (response.error_code != null){
                    let query = {"error_code": response.error_code, "error_message": response.error_message}
                    window.location.href = "/error?query=" + btoa(JSON.stringify(query))
                }
                $("#shinyframe").attr("src", response.containerPath);
                $("#loading_anime").fadeOut("slow");
            }).fail(function(request) {
                var newDoc = document.open("text/html", "replace");
                newDoc.write(request.responseText);
                newDoc.close();
            });
        }
    });
</script>
</body>
</html>
