<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" media="screen" th:href="@{/assets/css/default.css}"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
</head>
<body>
	<!-- navigation bar -->
	<div th:replace="navbar :: navbar"></div>
    
    <div class="app_list">
		<ul>
			<li th:each="app: ${apps}">
				<h5 th:if="${app.displayName == null}" th:utext="|<img height=30px src=${appLogos.get(app) == null ? '' : appLogos.get(app)}></img> ${app.id} <small style='font-size: 60%; margin-left: 10px'>${app.description != null ? app.description : ''}</small>|" style="font-size: 1.5rem"></h5>
				<h5 th:if="${app.displayName != null}" th:utext="|<img height=30px src=${appLogos.get(app) == null ? '' : appLogos.get(app)}></img> ${app.displayName} <small style='font-size: 60%; margin-left: 10px'>${app.description != null ? app.description : ''}</small>|" style="font-size: 1.5rem"></h5>
				<table class="table table-sm">
					<tbody>
					<tr th:each="subapp: ${app.subApps}">
						<td>
							<a th:if="${subapp.subDomain == '' || !enableSubDomainMode}" th:href="@{'/app/'+${app.id}+'/'+${subapp.path}(md=${app.defaultTutorialLink})}" th:text="${subapp.displayName}" class="subapp_link"></a>
							<a th:if="${subapp.subDomain != '' && enableSubDomainMode}" th:href="@{'/redirect/'+${subapp.subDomain}(md=${app.defaultTutorialLink})}" th:text="${subapp.displayName}" class="subapp_link"></a>
						</td>
						<td style="width: 80%">
							<a th:if="${subapp.description != null}" th:utext="${subapp.description}"></a>
						</td>
					</tr>
					</tbody>
				</table>
			</li>
		</ul>
	</div>
	<script>
		$(".subapp_link").each(function (index) {
			let selector = $(".subapp_link")[index];
			let url = new URL(selector.href);
			url.searchParams.set("md", btoa(url.searchParams.get("md")));
			selector.href = url.href;
		});
	</script>
</body>
</html>
